* {
    padding: 0;
    margin: 0;
}

#wrapper {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    font-family: Arial, Helvetica, sans-serif;
    color: #88898c;
}

#container {
    width: 77.5%;
    margin: auto;
    /* height: 100%; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

/* dinh dang the h2 */
.txtSize {
    font-size: 40px;
    color: #323842;
    /* margin-bottom: 40px; */
}

/* mau chu */
.txtColor {
    color: #323842;
}

.greenColor {
    color: #60ab8d;
}

/* menu */
#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* background-color: #e3b0b0; */
    margin-bottom: 50px;
}

#menu-left {
    display: flex;
    justify-content: space-around;
    width: 19%;
}

#menu-right {
    display: flex;
    /* width: 20%; */
}

.search {
    height: 36px;
    width: 210px;
    border-radius: 5px;
}

/* home */
.home-menu {
    margin-bottom: 20px;
    display: flex;
    width: 30%;
    justify-content: space-between;
}

#home-container {
    margin-bottom: 120px;
    display: flex;
}

/* home-items */
#home-items-left {
    display: flex;
}

#img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 97%;
}

.btnSeller,
.btnSeller1 {
    height: 30px;
    width: 80px;
    background-color: #ffc970;
    border: none;
    border-radius: 20px;
    color: #88898c;
}

#img-best {
    position: relative;
}

.btnSeller {
    position: absolute;
    top: 9px;
    right: 0;
}

/* home-items-right  */
#home-items-right {
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    /* height: 580px; */
    justify-content: space-between;
}

.home-price {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

/* home-review */
#review {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.vertical {
    vertical-align: super;
}

.size {
    height: 46px;
    width: 560px;
    background-color: #f3f4f6;
    border: none;
    border-radius: 5px;
}

.buttons_added{
    display: flex;
    justify-content: space-between;
    width: 27%;
}

.is-form {
    background-color: #f3f4f6;
    border: none;
    width: 40px;
    height: 45px;
    border-radius: 4px;
    text-align: center;

}

/* home-order */
#order {
    display: flex;
    justify-content: space-between;
}

.order-items {
    border: 1px solid #459d7a;
    width: 275px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

.order-items.add {
    background-color: #fff;
    color: #459d7a;
}

.order-items.check {
    background-color: #459d7a;
    border: none;
    color: #f3f4f6;
}

/* product */

#products-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.product-img {
    position: relative;
    margin-bottom: 25px;
}

.btnSeller1 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.price-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.price-item {
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: space-between;
}

/* dinh dang gia tien */
.price {
    font-size: 30px;
    color: #323842;
}

/* menu-container */
#menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 54px;
    margin-bottom: 50px;
}
.menu-items{
    color: #459d7a;
    font-size: 20px;
}

.ben{
    background-color: #c5e6d9;
    height: 54px;
    width: 225px;
    border: none;
    border-radius: 5px;
}

/* benefits */

#benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

#benefits-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    height: 500px;
    font-size: 18px;
}

/* ingredients */
#ingredients {
    display: flex;
    flex-direction: column;
    height: 430px;
    justify-content: space-between;
    margin-bottom: 120px;
}

#ingredients-container {
    display: flex;
    justify-content: space-between;
}

.ingredients-item {
    width: 360px;
}

.see{
    height: 36px;
    width: 205px;
    margin: 0 500px;
}

/* how to use */
#how{
    margin-bottom: 90px;
    position: relative;
}

.btnWatch{
    position: absolute;
    left: 500px;
    top: 400px;
    background-color: #171a1f;
    color: #f3f4f6;
    font-size: 18px;
    height: 55px;
    width: 187px;
    border-radius: 7px;
    border: none;
}

/* reviews */

#reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    background-color: #fafafb;
    margin-bottom: 50px;
}

#reviews-top{
    display: flex;
    justify-content: space-between;
}

.write{
    height: 38px;
    width: 147px;
    font-size: 14px;
}

#reviews-bottom{
    display: flex;
    justify-content: space-between;
}

#vote{  
    display: flex;
    flex-direction: column;
    height: 265px;
    justify-content: space-between;  
}

.ver{
    vertical-align: top;
}

#comment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 425px;
}

.comment-items{
    line-height: 25px;
}

.img-comment{
    display: flex;
}

.txtS{
    font-size: 12px;
    vertical-align: top;
}

#page{
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-left: 40px;
}

.circle{
    border: 1px solid #459d7a;
    width: 20px;
    border-radius: 100px;
    color: #459d7a;
    text-align: center;
}

/* FAQs */
#faqs-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.faqs-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
}

.pos{
    position: absolute;
    right: 13px;
    top: 14px;
}

.info{
    position: relative;
    border: 1px solid #88898c;
    border-radius: 5px;
    padding: 20px 55px 20px 5px;
    font-size: 18px;
}

.left{
    width: 75%;
}

/* footer */
#footer{
    background-color: #1d2128;
    height: 450px;
    display: flex;
    margin-bottom: 80px;
}

#footer-container{
    display: flex;
    justify-content: space-between;
    width: 77.5%;
    margin: auto;
    /* color: #f3f4f6; */
}

.txtWhite{
    color: #f3f4f6;
}

#footer-left{
    display: flex;
    justify-content: space-between;
    width: 42%;
}

.left-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-items > select{
    height: 40px;
    width: 130px;
    background-color: #1d2128;
    color: #f3f4f6;
    border: 1px solid #f3f4f6;
    border-radius: 5px;
    font-size: 16px;
}

.first{
    height: 250px;
}

.second{
    height: 140px;
}

.third{
    height: 180px;
}

#footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.mail{
    display: flex;
    height: 55px;
    position: relative;
}

.input-mail{
    border-radius: 5px 0 0 5px;
    border: 1px solid #88898c;
    border-right: none;
    background-color: #1d2128;
    color: #88898c;
    font-size: 16px;

    width: 315px;
}

.img-mail{
    position: absolute;
    left: 20px;
    top: 13px;
}

.subrise{
    background-color: #60ab8d;
    color: #f3f4f6;
    border: none;
    border-radius: 0 5px 5px 0;
    width: 130px;
}
