* {
    padding: 0;
    margin: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: 120px 910px 489px;
    color: #171a1f;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}


/* left-container */

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 80%;

}

.left-top {
    height: 440px;
    margin-top: 35px;
}

.left-bottom {
    height: 115px;
}

/* center-container */
#center-container {
    width: 92%;
    margin: auto;
}

/* title */

#title {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btnHour {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #f22128;
    font-size: 16px;
    background-color: white;
    height: 38px;
    width: 90px;
    border: 1.7px solid #f22128;
    border-radius: 20px;
}

.status {
    font-size: 28px;
}

/* internal */

#internal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-top: 35px;
}

.btnInternal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80px;
    height: 28px;
    color: white;
    background-color: #e34d73;
    border: none;
    border-radius: 15px;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 12px;
}

/* picture */

#picture {
    position: relative;
    margin-top: 35px;
}

.picture-right {
    position: absolute;
    right: 31px;
    top: 14px;
}

.btnName {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background-color: #737477;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.green {
    color: #1dd75b;
}

.picture-left {
    height: 40px;
    width: 160px;
    left: 30px;
    top: 13px;
}

/* pic-container */

#pic-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.pic-item {
    position: relative;
}

.pic-right {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 27px;
}

.pic-btnName {
    width: 110px;
    height: 30px;
    top: 10px;
    left: 10px;
}

/* end */
#end{
    display: flex;
    justify-content: space-between;  
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.btnEnd {
    background-color: #f22128;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 125px;
}

/* right-container */
#right-container {
    width: 80%;
    margin: auto;
}

/* participants */
.participant {
    margin-top: 50px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.par-item {
    display: flex;
    justify-content: space-between;
}

.par-top {
    display: flex;
    justify-content: space-between;
    width: 165px;
}

.number4 {
    background-color: #fdf2f4;
    color: #ea7a96;
    height: 30px;
    width: 24px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAdd {
    color: #ea7a96;
    font-size: 16px;
    background-color: white;
    border: 1.7px solid #ea7a96;
    border-radius: 7px;
    width: 70px;
    height: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.par-line {
    display: flex;
    align-items: center;
}

/* chat */
.chat {
    margin-top: 40px;
}

table {
    text-align: left;
    margin-top: 40px;
    height: 493px;
}

table td:first-child {
    width: 50px;
}

.chat-hour {
    font-size: 14px;
    color: #737477;
}

.bg {
    width: 335px;
    height: 70px;
    border-radius: 5px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.bg-icon {
    height: 50px;
    width: 100px;
    background-color: #fdf2f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    display: flex;
    justify-content: space-between;
}

.txtAdd-container {
    position: relative;
}

.img-add {
    position: absolute;
    right: 20px;
    top: 13px;
}

.txtAdd {
    width: 325px;
    height: 45px;
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
}