* {
    padding: 0;
    margin: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: 120px 910px 505px;
    color: #171a1f;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}


/* left-container */

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* .left-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
} */


/* center-container */

.center {
    width: 830px;
    margin: auto;
}
/* #center-container {
    width: 830px;
    margin: auto;
} */


/* title */

#title {
    display: flex;
    justify-content: space-between;
}

.btnHour {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #f22128;
    font-size: 16px;
    background-color: white;
    height: 38px;
    width: 90px;
    border: 1.7px solid #f22128;
    border-radius: 20px;
}

.status {
    font-size: 28px;
}

/* internal */

#internal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.btnInternal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80px;
    height: 28px;
    color: white;
    background-color: #e34d73;
    border: none;
    border-radius: 15px;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 12px;
}

/* picture */

#picture {
    position: relative;
}

.picture-right {
    position: absolute;
    right: 65px;
    top: 14px;
}

.btnName {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background-color: #737477;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.green{
    color: #1dd75b;
}

.picture-left {
    height: 40px;
    width: 160px;
    left: 60px;
    top: 13px;
}

/* pic-container */

#pic-container {
    display: flex;
    justify-content: space-between;
}

.pic-item {
    position: relative;
}

.pic-right {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 27px;
}

.pic-btnName{
    width: 110px;
    height: 30px;
    top: 10px;
    left: 10px;
}

/* end */
#end{
    display: flex;
    justify-content: space-between;  
    /* width: 488px; */
}

/* .end{
    display: flex;
    justify-content: space-between;  
    width: 488px;
} */

.btnEnd{
    background-color: #f22128;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.par-item{
    display: flex;
    justify-content: space-between;
}